In [1]:
import pandas as pd

In [2]:
avail_health_staff = pd.read_csv("Available-Health-Staff-Skilled-and-Supporting-by-region-2014.csv")

In [3]:
avail_health_staff.columns = ['Region Cadre', 'Anaesthesiologists',
                              'Assistant Dental Officer',
       'Assistant Environmental Health Officer', 'Assistant Lab Tech',
       'Assistant Medical Officer', 'Assistant Nursing Officer',
       'Audiometrists', 'Chemist/Chemist Assistants',
       'Biomedical Technician/Technologist & Engineers', 'Clinical Assistant',
       'Clinical Officer', 'Conversation designation',
       'cook/Chef/catering Officer', 'Dental Assistants/Technologists',
       'Dental Therapist/Officers', 'Environmental Health Assistant',
       'Environmental Health Officer', 'Health Laboratory Assistant',
       'Health Laboratory Scientist',
       'Health Laboratory Technician/Technologists', 'Medical Recorders',
       'Health Secretary', 'ICT Profession', 'Laundry staff',
       'Medical Attendant', 'Medical Doctors',
       'Medical Specialist/Consultants', 'Nurses', 'Nursing Officer',
       'Nutrition Officer', 'Occupational Therapist Staff',
       'Optometric Technologist', 'Optometrist', 'Orthotist/Prosthetist',
       'Other Non0Medical Professionals', 'Pharmaceutical Technologist',
       'Pharmacist', 'Physiotherapist', 'Physiotherapist Assistant',
       'Prothetist/Orthotist', 'Radiologists & Radiologic Technologists',
       'Radiography staff', 'Radiotherapist', 'Researchers',
       'Speech Therapist', 'Sociol welfare Staff', 'Support Staff',
       'Technicians &Technologists', 'Tutors/Lecturers/Professor']

In [4]:
avail_health_staff["Year"] = 2014

In [5]:
avail_health_staff.sample(5).T

,17,22,12,10,3
Region Cadre,Pwani,Singida,Mbeya,Manyara,Geita
Anaesthesiologists,0,0,1,0,0
Assistant Dental Officer,6,5,14,6,3
Assistant Environmental Health Officer,61,23,80,34,35
Assistant Lab Tech,44,36,104,44,22
Assistant Medical Officer,59,48,141,59,30
Assistant Nursing Officer,114,113,379,354,115
Audiometrists,0,0,0,0,0
Chemist/Chemist Assistants,0,1,0,0,1
Biomedical Technician/Technologist & Engineers,1,1,1,0,0
Clinical Assistant,41,34,99,41,21
Clinical Officer,210,172,499,209,105
Conversation designation,3,3,8,3,2
cook/Chef/catering Officer,18,15,43,18,9
Dental Assistants/Technologists,20,4,41,2,5
Dental Therapist/Officers,5,0,12,4,0
Environmental Health Assistant,10,11,41,11,15
Environmental Health Officer,13,16,19,4,10
Health Laboratory Assistant,2,1,4,0,0
Health Laboratory Scientist,3,0,3,1,1
Health Laboratory Technician/Technologists,31,26,75,31,16
Medical Recorders,16,13,21,16,8
Health Secretary,14,13,28,12,8
ICT Profession,3,3,8,3,2
Laundry staff,8,6,18,7,4
Medical Attendant,687,744,2057,819,413
Medical Doctors,59,14,218,37,15
Medical Specialist/Consultants,15,3,28,2,0
Nurses,987,656,1978,728,500
Nursing Officer,126,53,193,41,6
Nutrition Officer,1,3,9,2,0
Occupational Therapist Staff,1,0,0,0,0
Optometric Technologist,0,2,11,3,1
Optometrist,0,0,0,2,0
Orthotist/Prosthetist,0,0,0,0,0
Other Non0Medical Professionals,65,48,90,43,1
Pharmaceutical Technologist,4,5,15,11,14
Pharmacist,18,4,40,7,4
Physiotherapist,1,2,21,6,2
Physiotherapist Assistant,0,0,5,0,1
Prothetist/Orthotist,0,0,0,0,0
Radiologists & Radiologic Technologists,3,4,21,1,4
Radiography staff,5,1,0,4,0
Radiotherapist,3,0,0,1,0
Researchers,1,1,2,1,0
Speech Therapist,0,0,0,0,0
Sociol welfare Staff,0,0,0,0,0
Support Staff,111,177,242,191,20
Technicians &Technologists,35,33,113,34,20
Tutors/Lecturers/Professor,17,14,21,12,3
Year,2014,2014,2014,2014,2014

In [6]:
avail_health_staff_important = avail_health_staff[["Region Cadre",
                                                   "Year",
                                                   "Assistant Lab Tech",
                                                   "Assistant Medical Officer",
                                                  "Assistant Nursing Officer",
                                                  "Biomedical Technician/Technologist & Engineers",
                                                  "Clinical Assistant",
                                                  "Clinical Officer",
                                                  "Health Laboratory Assistant",
                                                  "Health Laboratory Scientist",
                                                  "Health Laboratory Technician/Technologists",
                                                  "Medical Recorders",
                                                  "Health Secretary",
                                                  "Medical Attendant",
                                                  "Medical Doctors",
                                                  "Medical Specialist/Consultants",
                                                  "Nurses",
                                                  "Nursing Officer",
                                                  "Nutrition Officer",
                                                  "Pharmaceutical Technologist",
                                                  "Pharmacist",
                                                  "Researchers",
                                                  "Support Staff",
                                                  "Technicians &Technologists"]]

In [7]:
avail_health_staff_important.sample(5).T

,22,16,17,8,11
Region Cadre,Singida,Njombe,Pwani,Kilimanjaro,Mara
Year,2014,2014,2014,2014,2014
Assistant Lab Tech,36,34,44,108,41
Assistant Medical Officer,48,46,59,146,55
Assistant Nursing Officer,113,126,114,505,136
Biomedical Technician/Technologist & Engineers,1,0,1,4,0
Clinical Assistant,34,32,41,102,39
Clinical Officer,172,164,210,519,195
Health Laboratory Assistant,1,2,2,3,2
Health Laboratory Scientist,0,0,3,9,0
Health Laboratory Technician/Technologists,26,24,31,78,29
Medical Recorders,13,6,16,56,11
Health Secretary,13,16,14,31,11
Medical Attendant,744,656,687,2072,714
Medical Doctors,14,24,59,111,33
Medical Specialist/Consultants,3,1,15,24,4
Nurses,656,729,987,1789,951
Nursing Officer,53,28,126,164,50
Nutrition Officer,3,0,1,4,2
Pharmaceutical Technologist,5,10,4,30,18
Pharmacist,4,9,18,19,8
Researchers,1,1,1,2,1
Support Staff,177,113,111,558,116
Technicians &Technologists,33,22,35,111,23

In [8]:
avail_health_staff_important.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 24 columns):
Region Cadre                                      25 non-null object
Year                                              25 non-null int64
Assistant Lab Tech                                25 non-null int64
Assistant Medical Officer                         25 non-null int64
Assistant Nursing Officer                         25 non-null int64
Biomedical Technician/Technologist & Engineers    25 non-null int64
Clinical Assistant                                25 non-null int64
Clinical Officer                                  25 non-null int64
Health Laboratory Assistant                       25 non-null int64
Health Laboratory Scientist                       25 non-null int64
Health Laboratory Technician/Technologists        25 non-null int64
Medical Recorders                                 25 non-null int64
Health Secretary                                  25 non-null int64
Medical Attendant                                 25 non-null int64
Medical Doctors                                   25 non-null int64
Medical Specialist/Consultants                    25 non-null int64
Nurses                                            25 non-null int64
Nursing Officer                                   25 non-null int64
Nutrition Officer                                 25 non-null int64
Pharmaceutical Technologist                       25 non-null int64
Pharmacist                                        25 non-null int64
Researchers                                       25 non-null int64
Support Staff                                     25 non-null int64
Technicians &Technologists                        25 non-null int64
dtypes: int64(23), object(1)
memory usage: 4.8+ KB

In [10]:
avail_health_staff_important.to_csv("more_cleaned_available_health_staff.csv", index=False)