In [38]:
import pandas as pd

In [39]:
avail_health_staff = pd.read_csv("Available-Health-Staff-Skilled-and-Supporting-by-region-2014.csv")

In [40]:
avail_health_staff.columns = ['Region Cadre', 'Anaesthesiologists',
                              'Assistant Dental Officer',
       'Assistant Environmental Health Officer', 'Assistant Lab Tech',
       'Assistant Medical Officer', 'Assistant Nursing Officer',
       'Audiometrists', 'Chemist/Chemist Assistants',
       'Biomedical Technician/Technologist & Engineers', 'Clinical Assistant',
       'Clinical Officer', 'Conversation designation',
       'cook/Chef/catering Officer', 'Dental Assistants/Technologists',
       'Dental Therapist/Officers', 'Environmental Health Assistant',
       'Environmental Health Officer', 'Health Laboratory Assistant',
       'Health Laboratory Scientist',
       'Health Laboratory Technician/Technologists', 'Medical Recorders',
       'Health Secretary', 'ICT Profession', 'Laundry staff',
       'Medical Attendant', 'Medical Doctors',
       'Medical Specialist/Consultants', 'Nurses', 'Nursing Officer',
       'Nutrition Officer', 'Occupational Therapist Staff',
       'Optometric Technologist', 'Optometrist', 'Orthotist/Prosthetist',
       'Other Non0Medical Professionals', 'Pharmaceutical Technologist',
       'Pharmacist', 'Physiotherapist', 'Physiotherapist Assistant',
       'Prothetist/Orthotist', 'Radiologists & Radiologic Technologists',
       'Radiography staff', 'Radiotherapist', 'Researchers',
       'Speech Therapist', 'Sociol welfare Staff', 'Support Staff',
       'Technicians &Technologists', 'Tutors/Lecturers/Professor']

In [41]:
avail_health_staff["Year"] = 2014

In [42]:
avail_health_staff.sample(5).T

,15,24,22,14,11
Region Cadre,Mwanza,Tanga,Singida,Mtwara,Mara
Anaesthesiologists,1,1,0,0,0
Assistant Dental Officer,10,9,5,4,6
Assistant Environmental Health Officer,98,68,23,29,41
Assistant Lab Tech,75,64,36,32,41
Assistant Medical Officer,102,86,48,44,55
Assistant Nursing Officer,381,199,113,212,136
Audiometrists,0,0,0,0,0
Chemist/Chemist Assistants,1,0,1,0,0
Biomedical Technician/Technologist & Engineers,3,1,1,0,0
Clinical Assistant,71,60,34,31,39
Clinical Officer,361,305,172,155,195
Conversation designation,6,5,3,2,3
cook/Chef/catering Officer,31,26,15,13,17
Dental Assistants/Technologists,5,24,4,2,3
Dental Therapist/Officers,4,17,0,2,0
Environmental Health Assistant,54,15,11,19,28
Environmental Health Officer,27,40,16,7,13
Health Laboratory Assistant,2,8,1,0,2
Health Laboratory Scientist,0,2,0,3,0
Health Laboratory Technician/Technologists,54,46,26,23,29
Medical Recorders,34,21,13,8,11
Health Secretary,21,26,13,16,11
ICT Profession,6,5,3,2,3
Laundry staff,13,11,6,6,7
Medical Attendant,1320,1291,744,609,714
Medical Doctors,120,58,14,44,33
Medical Specialist/Consultants,26,7,3,2,4
Nurses,1415,1296,656,616,951
Nursing Officer,72,56,53,17,50
Nutrition Officer,1,3,3,1,2
Occupational Therapist Staff,5,0,0,0,0
Optometric Technologist,4,1,2,3,4
Optometrist,0,0,0,0,0
Orthotist/Prosthetist,0,0,0,0,0
Other Non0Medical Professionals,139,57,48,33,40
Pharmaceutical Technologist,38,6,5,6,18
Pharmacist,20,18,4,4,8
Physiotherapist,8,5,2,2,3
Physiotherapist Assistant,0,1,0,0,0
Prothetist/Orthotist,0,0,0,0,0
Radiologists & Radiologic Technologists,8,0,4,2,7
Radiography staff,12,2,1,1,0
Radiotherapist,1,0,0,2,1
Researchers,1,1,1,1,1
Speech Therapist,0,0,0,0,0
Sociol welfare Staff,0,0,0,0,0
Support Staff,192,203,177,101,116
Technicians &Technologists,78,33,33,17,23
Tutors/Lecturers/Professor,30,18,14,10,8
Year,2014,2014,2014,2014,2014

In [43]:
avail_health_staff_important = avail_health_staff[["Region Cadre",
                                                   "Year",
                                                   "Assistant Lab Tech",
                                                   "Assistant Medical Officer",
                                                  "Assistant Nursing Officer",
                                                  "Biomedical Technician/Technologist & Engineers",
                                                  "Clinical Assistant",
                                                  "Clinical Officer",
                                                  "Health Laboratory Assistant",
                                                  "Health Laboratory Scientist",
                                                  "Health Laboratory Technician/Technologists",
                                                  "Medical Recorders",
                                                  "Health Secretary",
                                                  "Medical Attendant",
                                                  "Medical Doctors",
                                                  "Medical Specialist/Consultants",
                                                  "Nurses",
                                                  "Nursing Officer",
                                                  "Nutrition Officer",
                                                  "Pharmaceutical Technologist",
                                                  "Pharmacist",
                                                  "Researchers",
                                                  "Support Staff",
                                                  "Technicians &Technologists"]]

In [44]:
avail_health_staff_important.sample(5).T

,15,6,7,18,16
Region Cadre,Mwanza,Katavi,Kigoma,Rukwa,Njombe
Year,2014,2014,2014,2014,2014
Assistant Lab Tech,75,6,32,23,34
Assistant Medical Officer,102,9,43,31,46
Assistant Nursing Officer,381,20,107,72,126
Biomedical Technician/Technologist & Engineers,3,0,0,0,0
Clinical Assistant,71,6,30,22,32
Clinical Officer,361,31,151,112,164
Health Laboratory Assistant,2,0,4,1,2
Health Laboratory Scientist,0,1,0,1,0
Health Laboratory Technician/Technologists,54,5,23,17,24
Medical Recorders,34,0,6,6,6
Health Secretary,21,4,13,5,16
Medical Attendant,1320,147,665,549,656
Medical Doctors,120,7,14,25,24
Medical Specialist/Consultants,26,0,1,1,1
Nurses,1415,125,649,439,729
Nursing Officer,72,4,23,12,28
Nutrition Officer,1,0,0,0,0
Pharmaceutical Technologist,38,1,9,1,10
Pharmacist,20,2,6,4,9
Researchers,1,0,1,0,1
Support Staff,192,9,104,78,113
Technicians &Technologists,78,3,15,10,22

In [45]:
avail_health_staff_important.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 24 columns):
Region Cadre                                      25 non-null object
Year                                              25 non-null int64
Assistant Lab Tech                                25 non-null int64
Assistant Medical Officer                         25 non-null int64
Assistant Nursing Officer                         25 non-null int64
Biomedical Technician/Technologist & Engineers    25 non-null int64
Clinical Assistant                                25 non-null int64
Clinical Officer                                  25 non-null int64
Health Laboratory Assistant                       25 non-null int64
Health Laboratory Scientist                       25 non-null int64
Health Laboratory Technician/Technologists        25 non-null int64
Medical Recorders                                 25 non-null int64
Health Secretary                                  25 non-null int64
Medical Attendant                                 25 non-null int64
Medical Doctors                                   25 non-null int64
Medical Specialist/Consultants                    25 non-null int64
Nurses                                            25 non-null int64
Nursing Officer                                   25 non-null int64
Nutrition Officer                                 25 non-null int64
Pharmaceutical Technologist                       25 non-null int64
Pharmacist                                        25 non-null int64
Researchers                                       25 non-null int64
Support Staff                                     25 non-null int64
Technicians &Technologists                        25 non-null int64
dtypes: int64(23), object(1)
memory usage: 4.8+ KB